.structure{
    margin-bottom: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    margin-left: 10px;
    flex: 2;
    border-radius: 15px;
    width: 150px;
}

.Profilepost {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.ProfilepostTop {
    display: flex;
    position: relative;
    align-items: center;
    padding: 30px 15px 0px 15px;
}

.ProfilepostAvatar {
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 5px;
}

.Profiletop {
    display: flex;
    justify-content: space-evenly;
}

.ProfiletopLeft {
    float: left;
    width: 300px;
}

.ProfiletopRight {
    float: right;
    width: 300px;
}

#composition-button {
    margin-top: -20px;
    margin-left: 50px;
}

.ProfiletopInfo {
    display: flex;
    margin-top: 10px;
}

.ProfiletopInfo > h4{
    color: rgb(70, 70, 70);
    font-size: medium;
    margin-right: -30px;
    margin-top: -2px;
    position: relative;
}

.ProfiletopInfo > p {
    position: absolute;
    font-size: small;
    color: gray;
    margin-top: 0px;
}

.ProfilepostBot {
    margin-top: -20px;
    padding: 5px 5px;
    border-bottom: 1px solid lightgray;
}

.ProfilepostBot > p {
    margin-top: 30px;
    margin-left: 15px;
}

.ProfilepostImage > img {
    width: 95%;
    padding: 5px 15px 5px 15px;
}

.ProfilepostOptions {
    margin-left: 15px;
    padding-top: 10px;
    display: flex;
    font-size: medium;
    padding: 5px;
}

.Profiletimestamp {
    padding-top: 5px;
    margin-left: 300px;
    font-size: small;
    color: gray;
}

.ProfilepostOption{
    color: #FD6708;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    width: 10%;
}

.ProfilepostOption > p {
    margin-left: 10px;
}

.ProfilepostOption:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

